@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.jodit-react-container, .jodit-container {
  color: #000;
  max-height: 400px !important;
}

.jodit-container{
  width: 100% !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1771c6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5f5f5b0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #32ae7e;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  color: rgb(var(--foreground-rgb));
}

.hero_animation {
  background-image: linear-gradient(147.92deg, hsla(239, 76%, 53%, 0.456) 10.41%, hsla(0, 0%, 100%, 0) 89.25%);
  animation: changeBackgroundColor 8s infinite alternate;
}

.text-gradient {
  background: linear-gradient(90deg, #4092cc 2.34%, #75c1f2 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}


@keyframes changeBackgroundColor {

  0%,
  100% {
    opacity: 1;
  }

  16.67% {
    opacity: 0.9;
  }

  33.33% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.6;
  }

  66.67% {
    opacity: 0.5;
  }

  83.33% {
    opacity: 0.4;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(2px);
  }

  60% {
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

/* .slick-slide{
  width: 200px !important;
} */

.slick-dots {
  bottom: -43px !important;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.slider-container {
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

.slick-slide>div {
  display: grid;
  place-items: center;
  /* width: 80%; */
  margin-top: 50px;
  margin: auto;
  /* height: 500px; */
  padding: 0px;
  /* background: red; */
}